[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
python-decouple = "==3.6"
pandas = "==1.5.1"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
hello = "pipenv run python3 ui.py"
